@if (mostrar)
{
    <div class="alert alert-danger" role="alert">
        @_mensajeError
    </div>
}

@code {
    private bool mostrar;

    [Parameter]
    public string _mensajeError { get; set; }

    public void Mostrar()
    {
        mostrar = true;
        StateHasChanged();
        BorrarMensajeConDelay();
    }

    private async void BorrarMensajeConDelay()
    {
        await Task.Delay(3000);
        mostrar = false;
        _mensajeError = "";
        StateHasChanged();
    }
}