@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IServicioDeSecion servicioDeSecion
@inject IJSRuntime JS
@rendermode InteractiveServer

<style>
    .top-user{
        display: flex;
        justify-content: end;
        margin-bottom: 1rem;
        padding: 1rem 2rem;
        background-color: #f8f9fa;
        border-bottom: 1px solid #202020;
    }
    .top-row .bi {
        font-size: 1.25rem;
    }

    .box{
        display: flex;
        justify-content: end;
        align-items: center;
    }
</style>

<div class="top-user">
    @if (UsuarioRegistrado != null)
    {
        <div class="box">
            <NavLink class="bi bi-person-fill" href="perfil" aria-hidden="true">@UsuarioRegistrado.Nombre @UsuarioRegistrado.Apellido</NavLink>
        </div>
    }
    else
    {
        <span class="bi bi-person-fill" aria-hidden="true"> <NavLink href="login">Login</NavLink></span>
    }
</div>

@code {
    public Usuario? UsuarioRegistrado;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await getUsuarioRegistrado();
        }
    }

    private async Task getUsuarioRegistrado()
    {
        UsuarioRegistrado = await JS.InvokeAsync<Usuario?>("getUsuario");
        StateHasChanged();
    }
}