.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.home-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.home-main-container-logout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-main-container .btn-primary{
    margin-bottom: 2rem;
}

.home-content {
    text-align: center;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}