@page "/"
@inject IServicioAutenticacion _servicioAutenticacion
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime


<h3>Welcome</h3>

<button class="btn btn-primary">Login</button>

@code {

}
